.floater {
position:absolute;
z-index:2;
bottom:0;
right:0;
display:none;
padding:0;
}

.floater td {
font-family: sans-serif, Arial, Verdana;
background-color:white;
border:1px inset #979797;
color:black;
}

.mcit {
/* matchedSmartInputItem */
padding: 5px 10px 1px 5px;
margin:0;
cursor:pointer;
}

.slipit {
/* selectedSmartInputItem */
color:black;
/*background-color:#3875D7;*/
background-color: #C6DBFF;
}

#sinRs {
/* smartInputResults */
padding:0;margin:0;
}
